html, body {
    scrollbar-width: none;
    font-family: 'VollkornRegular';
    font-size: 20px;
}

form { margin: 0; }

.bg-div {
    background-color: #f3f3f3;
    min-height: 100vh;
    width: 100vw;
    padding: 120px 0 50px 0;
    background-image: url('bg1.png');
}

.title {
    font-family: 'Forum';
    font-size: 1.5em;
    line-height: 1em;
    overflow-x: hidden;
    scrollbar-width: none;
    height: -moz-min-content;    /* Firefox/Gecko */
    height: -webkit-min-content; /* Chrome */
    height: min-content;
    max-height: 3em;
    min-height: 1em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

.fineprint {
    position: absolute;
    font-family: 'Montserrat';
    font-size: 11pt;
    color: #777777;
    padding: 7pt 10pt 7pt 10pt;
    display: inline-block;
    text-align: center;
}

.star {
    font-size: 25px;
    margin: auto;
    width: 30px;
    padding-bottom: 5px;
    cursor: pointer;
}

.corner-widget {
    font-size: 20px;
    padding: 0;
    cursor: pointer;
}

.fineprint a {
    color: #777777;
    font-family: 'Montserrat';
    text-decoration: none;
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.top { top: 0; }
.right { right: 0; }
.bottom { bottom: 0; }
.left { left: 0; }

.width-80 {
    min-width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.width-60 {
    min-width: 60vw;
}

.width-40 {
    min-width: 40vw;
}

.content-card {
    position: relative;
    display: flex;
    flex-flow: column;
    padding: 2em 1.5em 1.5em 1.5em;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 3px 6px 20px 0 rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 1em;
}

.popup {
    position: absolute;
    min-width: 400px;
    z-index: 10;
    left: 100%;
    display: none;
}

.form-box {
    width: intrinsic;           /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;    /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
    width: max-content;
    padding: 0.5em;
    text-align: center;
    margin: 1em auto 2em auto;
    resize: both;
}

.titlebar {
    display: flex;
    padding: 0 0.2em 0 0.2em;
    margin-bottom: 1em;
    box-sizing: border-box;
}

.formfields { padding: 1em 1.5em 1.5em 1.5em }

.btitle { margin-bottom: 0; margin-top: 0;}

.width500 { width: 700; }

.vcenter-content {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0
}

.topbar {
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 0;
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    width: auto;
    min-width: 100vw;
    height: 70px;
}

.justified { margin: auto; }

.centering {
    align-items: center;
    text-align: center;
}

#formdiv { display: none; }

.rightmost {
    position: relative;
    right: 0;
    margin: 0;
    margin-left: auto;
}

.leftmost {
    position: relative;
    left: 0;
    margin: 0;
    margin-right: auto;
}

.post-body p {
    margin-bottom: 0.5em;
}

.post-body a {
    color: #238cbc;
    font-family: 'VollkornSemibold';
    text-decoration: none;
}

.small-square {
    height: 20em;
}

.post-body {
    position: relative;
    margin-top: 0.4em;
    margin-bottom: 5pt;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    font-size: 20px;
    line-height: 1.2em;
}

.button {
    font-family: 'Forum';
    font-size: 18px;
    background-color: #ffffff;
}

.largetextbox {
    height: 200px;
    width: 400px;
}

.form-error {
    font-size: 0.8em;
    color: #cc5555;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.3em;
    margin-bottom: 0;
    width: 50%;
    text-align: left;
    width: 224px;
}

.signin-input {
    position: relative;
    margin-bottom: 1em;
    font-family: 'VollkornRegular';
    width: 224px;
}

.nav {
    font-size: 1.7em;
    font-family: 'VollkornRegular';
    text-align: center;
    /* text-shadow: 3px 3px 3px #999999; */
    letter-spacing: -0.5em;
    display: inline-block;
    margin: 0;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 50%;
    visibility: hidden;
}

.formrow { padding: 0 0 1em 0; }

#leftnav {
    left: 10%;
    padding: 0em 0.15em 0.15em 0.1em;
}

#rightnav {
    right: 10%;
    padding: 0em 0.1em 0.15em 0.15em;
}

.arrows {
    padding: 0 0.5em 0.2em 0;
    margin: 0.1em;
    cursor: pointer;
}

.nav a {
    margin: 0.3em;
    text-decoration: none;
    color: #444444;
    padding-right: 0.3em;
    margin-right: -0.1em;
}

.prev {
    float: left;
}

.next {
    float: right;
}

.ui-front {
    list-style-type: none;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #d1d1d1;
    width: max-content;
    line-height: 1em;
}
.ui-autocomplete li {
    padding: 6px;
    padding-left: 10px;
    margin-bottom: 0.1em;
}
