<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}
{% block content %}
<div class="container deadcenter">
    <div class="three columns">
            <div class="row hcenter-content">
                <h4>Sign in</h4>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    {{ form.password.label_tag }}
                    {{ form.password }}
                </div>
                <div class="row hcenter-content">
                    <button class="u-center-abs" type="submit">Sign In</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
