<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h4>Log in</h4>
    </div>
    <form class="u-center-abs" method="post">
        {% csrf_token %}
        <div class="row">
            {{ form.username.label_tag }}
            {{ form.username }}
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>
        <div class="row">
            <button class="u-center-abs" type="submit">Log In</button>
        </div>
    </form>
</div>
</div>
{% endblock %}
