{% load static %}
{% load post_filters %}

<div class="row">
    {% for post in post_list %}
    {% if forloop.counter|divisibleby:3 %}
    {% with class="four columns content-card small-square" postdivid="card-"|concat_str:post.id %}
    {% include 'post_contents.html' %}
    {% endwith %}
</div>
{% if not forloop.last %}
<div class="row">
    {% endif %}
    {% else %}
    {% with class="four columns content-card small-square" postdivid="card-"|concat_str:post.id %}
    {% include 'post_contents.html' %}
    {% endwith %}
    {% endif %}
    {% endfor %}
</div>
