{% extends 'base.html' %}
{% load static %}
{% load post_filters %}

{% block content %}

{% include 'topbar.html' %}
{% with user=request.user favourites=request.user.profile.watchlist.all %}
<div class="bg-div">
    <div class="container width-60">
        <div class="row">
            <div class="ten columns offset-by-one content-card small-square">
    {% with post=object is_detail=True %}
    {% include 'post_contents.html' %}
    {% endwith %}
            </div>
        </div>
        <div class="row">
            {% for post in object.children.all %}
            {% if forloop.counter|divisibleby:3 %}
            {% include 'small_card.html' %}
        </div>
        {% if not forloop.last %}
        <div class="row postsrow">
            {% endif %}
            {% else %}
            {% include 'small_card.html' %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endwith %}
{% endblock content %}
