{% load static %}
{% load post_filters %}

<div class="post{{ class }}"
     id="{{ postdivid }}"
     postid="{{ post.id }}"
     posttag="{{ post.tags }}">
        <div class="postheader">
            <span
                class="idcode widget montserrat floatleft"
                onclick="clickid($(this))">
                #{{ post.id }}
            </span>
            <span class="tagwidget widget montserrat floatright"
                onclick="add_tag_with_history('{{ post.tags }}')">
                &lt;{{ post.tags }}&gt;
            </span>
        </div>

        <div class="postcontent">
            {% if post.title %}
            <div class="title">{% render_title post request.user %}</div>
            {% endif %}

            <div class="post-body">
                {% if post.image %}
                <img source="{{ post.image.url }}" src="{% static 'img.png'%}"
                onclick="image_click($(this))">
                {% endif %}
                <div>{% render_body post request.user %}</div>
            </div>
        </div>

        <div class="postfooter">
            <div class="star star-{{ post.id }} widget left{% if post in favourites %} watched{% endif %}"
                 onclick="favourite('{{ post.id }}', '{{ csrf_token }}')"></div>

            <div class="midfooter counter">{{ post.children.count }}/{{ post.descendants }}</div>

            <div class="midfooter">
                {{ post.created_on|date:"SHORT_DATE_FORMAT"}},
                {{post.created_on|time:"H:i"}}</div>

            <div class="plussciscont">
            <div class="plusscis widget right"
                 onclick="corner_widget($(this))"></div>
            </div>

        </div>
</div>
