<!-- templates/content.html -->
{% extends 'base.html' %}
{% block title %}
Welcome to Cemiyet
{% endblock title %}
{% block content %}

<style>
html, body {
    scrollbar-width: none;
}
</style>

<!-- Menu Bar -->
<div class="topbar">
    <img src="static/logos/50x102.png"></img>
    <a class="button flushright" href="{% url 'logout' %}">Sign out</a>
</div>
<div class="container deadcenter fullwidth grey-bg">
    <div class="container post-holder">
        <div class="row postsrow">
            {% for post in post_list %}
            {%  if forloop.counter|divisibleby:3 %}
            <div class="four columns post-card">
                <div class="post-id">#{{ post.id }}</div>
                <div class="post-tag">&lt;{{ post.tags }}&gt;</div>
                <div class="post-title">{{ post.title }}</div>
                <div class="post-body">{{ post.body }}</div>
                <div class="post-date">{{ post.created_on}}</div>
            </div>
        </div>
        {% if not forloop.last %}
        <div class="row postsrow">
            {% endif %}
            {% else %}
            <div class="four columns post-card">
                <div class="post-id">#{{ post.id }}</div>
                <div class="post-tag">&lt;{{ post.tags }}&gt;</div>
                <div class="post-title">{{ post.title }}</div>
                <div class="post-body">{{ post.body }}</div>
                <div class="post-date">{{ post.created_on}}</div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
