<!-- templates/content.html -->
{% extends 'base.html' %}
{% load static %}
{% load post_filters %}
{% block content %}

{% include 'topbar.html' %}

<div class="bg-div">

    {# Create pop-up cards for all reference-linked posts in the view #}
    {% for post in hovers %}
            {% with style="popup content-card" postdivid="pop-"|concat_str:post.id %}
            {% include 'post_contents.html' %}
            {% endwith %}
    {% endfor %}

    {# Insert posting form here #}



    <div class="container width-60">
        <div class="row">
        <div id="focusdiv"></div>
        </div>
        <div class="row">
            {% for post in post_list %}
            {% if forloop.counter|divisibleby:3 %}
            {% with is_card=True style="four columns content-card small-square" postdivid="card-"|concat_str:post.id %}
            {% include 'post_contents.html' %}
            {% endwith %}
        </div>
        {% if not forloop.last %}
        <div class="row">
            {% endif %}
            {% else %}
            {% with is_card=True style="four columns content-card small-square" postdivid="card-"|concat_str:post.id %}
            {% include 'post_contents.html' %}
            {% endwith %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>


{# Navigation #}
{% if page_obj.has_previous %}
<div class="nav prev">
    <a class="arrows" href="?page=1">&lt;&lt;</a>
    <a class="arrows" href="?page={{ page_obj.previous_page_number }}">&lt;</a>
</div>
{% endif %}


{% if page_obj.has_next %}
<div class="nav next">
    <a class="arrows" href="?page={{ page_obj.next_page_number }}">&gt;</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">&gt;&gt;</a>
</div>
{% endif %}

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script>
    function favourite(id) {
        options = {
            method: 'POST',
            body: id,
            headers: { 'X-CSRFToken': '{{ csrf_token }}' }
        };
        fetch('/watch', options)
            .then(response => {
                if (response.status == '200') {
                    star = document.querySelector('#star-' + id);
                    current = star.innerHTML;
                    star.innerHTML = current === '☆' ? '★' : '☆';
                }
            }
                )
    }

    function focus_post(id) {
        post = document.getElementById('card-' + id);
        post.className = "ten columns offset-by-one content-card small-square";
        document.getElementById('focusdiv').append(post);
    }

	var postid, target, card, topoffset, leftoffset;
    $(".popup").hide();//This hides all the pop-ups when page loads
	$(".reflink").hover(function() {//This executes when you hover ON the box
		 refid = $(this).attr("reftarget");
         target = "#pop-" + refid;
         card = $(this).closest(".content-card");
         topoffset = $(this).offset().top - card.offset().top;
         leftoffset = $(this).offset().left - card.offset().left +
            $(this).width();
         $(target).appendTo(card);
         $(target).css({top: topoffset, left: leftoffset});
         $(target).show();
    }, function() {
        $(target).prependTo($(window).find(".bg-div"));
        $(target).hide()
    });
</script>

{% endblock content %}
