<!-- templates/content.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
html, body {
    scrollbar-width: none;
}
</style>

<!-- Menu Bar -->
<div class="topbar">
    <img src="{% static 'logos/50x102.png'%}"></img>
    <a class="button flushright" href="{% url 'logout' %}">Sign out</a>
</div>
<div class="container deadcenter fullwidth grey-bg">
    <div class="container post-holder">
        <div class="row postsrow">
            {% for post in post_list %}
            {%  if forloop.counter|divisibleby:3 %}
            <div class="four columns post-card">
                <div class="post-id fineprint">#{{ post.id }}</div>
                <div class="post-tag fineprint">&lt;{{ post.tags }}&gt;</div>
                <div class="post-title">{{ post.title }}</div>
                <div class="post-body">{{ post.body }}</div>
                <div class="post-date fineprint">
                    {{ post.created_on|date:"SHORT_DATE_FORMAT"}}, {{post.created_on|time:"H:i"}}</div>
            </div>
        </div>
        {% if not forloop.last %}
        <div class="row postsrow">
            {% endif %}
            {% else %}
            <div class="four columns post-card">
                <div class="post-id fineprint">#{{ post.id }}</div>
                <div class="post-tag fineprint">&lt;{{ post.tags }}&gt;</div>
                <div class="post-title">{{ post.title }}</div>
                <div class="post-body">{{ post.body }}</div>
                <div class="post-date fineprint">
                    {{ post.created_on|date:"SHORT_DATE_FORMAT"}}, {{post.created_on|time:"H:i"}}</div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<div class="container pagination">
    <span>
        <a href="?page=1">first</a>
        {% if page_obj.has_previous %}          
            <a href="?page={{ page_obj.previous_page_number }}">prev</a>
        {% endif %}

        <a href="?page={{ page_obj.number }}" class="active">
          {{ page_obj.number }}
        </a>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next </a>
        {% endif %}
        <a href="?page={{ page_obj.paginator.num_pages }}">last</a>
    </span>
</div>
{% endblock content %}
