<div id="formdiv" class="shadow-white">
    <div class="titlebar">
        <div class="widget montserrat"
             onclick="clear_form()">Ø</div>
        <div class="title">CREATE NEW POST</div>
        <div class="widget montserrat"
             onclick="toggle_form()">X</div>
    </div>
    <div class="formfields">
        <form id="theform" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <input type="text"
                   placeholder="Subject"
                   id="id_title"
                   name="title">

            <div id="uploaddiv">
                <div id="filelabel"
                     class="button"
                     onclick="$('#id_image').click()">
                    ⇧
                </div>
                <span id="filename">No image selected.</span>
                <input class="submitfile"
                       type="file"
                       name="image"
                       accept="image/*"
                       onchange="update_filename()"
                       id="id_image">
            </div>

            <label for="id_body"></label>

            <div>
                <textarea class="largetextbox"
                          name="body"
                          cols="25"
                          rows="40"
                          required=""
                          placeholder="Post body"
                          id="id_body"
                          ></textarea>
            </div>

            <div>
            <input type="text"
                   name="tag_text"
                   class="taginput"
                   id="tag_text"
                   placeholder="Tag">
            </div>

            <div id="formerrordiv"></div>

            <button class="button nomargin" type="submit">Post</button>

        </form>
    </div>
</div>
