<div id="formdiv" class="shadow-white">
    <div class="titlebar">
        <div class="widget montserrat"
             onclick="clear_form()">Ø</div>
        <div class="title">CREATE NEW POST</div>
        <div class="widget montserrat"
             onclick="toggle_form()">X</div>
    </div>
    <div class="formfields">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% for e in form.title.errors %}
            <p class="form-error">{{e}}</p>
            {% endfor %}
            <input type="text"
                   placeholder="Subject"
                   id="{{ form.title.id_for_label }}"
                   name="{{ form.title.html_name }}">

            <div id="uploaddiv">
                <div id="filelabel"
                     class="button"
                     onclick="$('#{{ form.image.id_for_label }}').click()">
                    ⇧
                </div>
                <span id="filename">No image selected.</span>
                <input class="submitfile"
                       type="file"
                       name="image"
                       accept="image/*"
                       onchange="update_filename()"
                       id="{{ form.image.id_for_label }}">
            </div>

            {% for e in form.body.errors %}
            <p class="form-error">{{e}}</p>
            {% endfor %}
            <label for="{{ form.body.id_for_label }}"></label>

            <div>
                <textarea class="largetextbox"
                          name="{{ form.body.html_name }}"
                          cols="25"
                          rows="40"
                          required=""
                          placeholder="Post body"
                          id="{{ form.body.id_for_label }}"
                          ></textarea>
            </div>

            <div>
            <input type="text"
                   name="tag_text"
                   class="taginput"
                   id="tag_text"
                   placeholder="Tag">
            </div>

            {% for e in form.non_field_errors %}
            <p class="form-error">{{e}}</p>
            {% endfor %}

            <button class="button nomargin" type="submit">Post</button>

        </form>
    </div>
</div>
