{% load static %}
{% load post_filters %}

<div class="post{{ class }}"
     id="{{ postdivid }}"
     postid="{{ post.id }}"
     posttag="{{ post.tags }}">
        <div class="postheader">
            <span
                id={{"id-"|concat_str:post.id}}
                class="idcode widget montserrat floatleft"
                postid="{{ post.id }}"
                posttag="{{ post.tags }}">
                #{{ post.id }}
            </span>
            <span class="tagwidget widget montserrat floatright" onclick="add_tag_div('{{ post.tags }}')">
                &lt;{{ post.tags }}&gt;
            </span>
        </div>

        <div class="postcontent">
            {% if post.title %}
            <div class="title">{{ post.title|titlefilter:request.user }}</div>
            {% endif %}

            <div class="post-body">
                {% if post.image %}
                <img source="{{ post.image.url }}" src="{% static 'img.png'%}">
                {% endif %}
                <div>{{ post.body|postfilter:request.user|urlize }}</div>
            </div>
        </div>


        <div class="postfooter">
            <div class="star star-{{ post.id }} widget left{% if post in favourites %} watched{% endif %}"
                 onclick="favourite('{{ post.id }}', '{{ csrf_token }}')"></div>

            <div>
                {{ post.created_on|date:"SHORT_DATE_FORMAT"}},
                {{post.created_on|time:"H:i"}}</div>

            <div class="dotscis widget right"
                 onclick="dotscis('{{ post.id }}')">+</div>

        </div>
</div>
