{% extends 'base.html' %}
{% block content %}

<div class="deadcenter grey-bg">
    <div class="posting-form">
    <div class="row">
        <h4 class="font-forum">CREATE NEW POST</h4>
    </div>
        <form class="auto" method="post">
            {% csrf_token %}
            <div class="row">
                <input class="signin-input" type="text"
                       placeholder="Subject" id="{{ form.title.id_for_label }}"
                       name="{{ form.title.html_name }}">
            </div>
            <div class="row">
                <label for="{{ form.body.id_for_label }}"></label>
                <textarea class="largetextbox"
                          name="{{ form.body.html_name }}"
                          cols="25"
                          rows="30"
                          required=""
                          placeholder="Post body"
                          id="{{ form.body.id_for_label }}">{{ form.body.initial }}</textarea>
            </div>
            <div class="row">
            <!-- See above: names and ids come from the template context for
            other fields.  When I do the same for this, autocomplete stops
            working. For the integrity of the form, these should probably also
            come from that form context, but I'm not sure how other parts of the
            code needs to be changed for this. -->
                <input type="text" name="tags" id="tags" placeholder="Tag">
            </div>
            <div class="row topmargin07">
                <button class="button nomargin" type="submit">Post</button>
            </div>
                {{ form.errors }}
        </form>
    </div>
</div>
</div>

<div class="container">
        <form method="post">
        {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
        </form>
</div>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $( function() {
        $("#tags").autocomplete({
            source: '{% url 'autocomplete' %}',
      });
    } );
</script>
{% endblock content %}
