{% load static %}
{% load post_filters %}

<div class="{{ class }}"
     id="{{ postdivid }}"
     postid="{{ post.id }}"
     posttag="{{ post.tags }}"
     style="{{ style }}">
    <div class="fineprint top left">
        <div
            id={{"id-"|concat_str:post.id}}
            class="idcode"
            postid="{{ post.id }}"
            posttag="{{ post.tags }}"
            style="cursor: pointer">
            #{{ post.id }}
        </div>
    </div>
    <div class="fineprint top right">
        <a href="{% url 'content' %}?t={{ post.tags }}">
            &lt;{{ post.tags }}&gt;
        </a>
    </div>
    {% if post.title %}
    <div class="title">{{ post.title|titlefilter:request.user }}</div>
    {% endif %}
    <div class="post-body">{{ post.body|postfilter:request.user|urlize }}</div>
    <div class="star-{{ post.id }} fineprint bottom left star unselectable"
                                 onclick="favourite('{{ post.id }}', '{{ csrf_token }}')">{% if post in favourites %}★{% else %}☆{% endif %}</div>

    <div class="fineprint bottom right dotscis star unselectable"
                                 onclick="dotscis('{{ post.id }}')">+</div>
    <div class="fineprint bottom left right justified" style="width: 10em;">
        {{ post.created_on|date:"SHORT_DATE_FORMAT"}}, {{post.created_on|time:"H:i"}}</div>
</div>
