{% extends 'base.html' %} {% block content %}

<!-- How to put in the input fields??-->

<div class="deadcenter grey-bg">
    <div class="posting-form">
    <div class="row">
        <h4 class="font-forum">CREATE NEW POST</h4>
    </div>
        <form class="auto" method="post">
            {% csrf_token %}
            <div class="row">
                {% for e in form.title.errors %}
                <p class="form-error">{{e}}</p>
                {% endfor %}
                <input class="signin-input" type="text"
                       placeholder="Subject" id="{{ form.title.id_for_label }}"
                       name="{{ form.title.html_name }}">
            </div>
            <div class="row">
                {% for e in form.body.errors %}
                <p class="form-error">{{e}}</p>
                {% endfor %}
                <label for="{{ form.body.id_for_label }}"></label>
                <textarea class="largetextbox"
                          name="{{ form.body.html_name }}"
                          cols="25"
                          rows="30"
                          required=""
                          placeholder="Post body"
                          id="{{ form.body.id_for_label }}">{{ form.body.initial }}</textarea>
            </div>
            <div class="row">
                {{ form.tags }}
            </div>
            <div class="row topmargin07">
                <button class="button nomargin" type="submit">Post</button>
            </div>
                {{ form.errors }}
        </form>
    </div>
</div>
</div>

<div class="container">
        <form method="post">
        {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
        </form>
</div>

{% endblock content %}
