{% extends 'base.html' %} {% block content %}

<div class="bg-div vcenter-content">
    <div class="container">
        <div class="content-card form-box">
            <div class="title">CREATE NEW POST</div>
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    {% for e in form.title.errors %}
                    <p class="form-error">{{e}}</p>
                    {% endfor %}
                    <input type="text"
                           placeholder="Subject" id="{{ form.title.id_for_label }}"
                                                 name="{{ form.title.html_name }}">
                </div>
                <div class="row">
                    {% for e in form.body.errors %}
                    <p class="form-error">{{e}}</p>
                    {% endfor %}
                    <label for="{{ form.body.id_for_label }}"></label>
                    <textarea class="largetextbox"
                              name="{{ form.body.html_name }}"
                              cols="25"
                              rows="40"
                              required=""
                              placeholder="Post body"
                              id="{{ form.body.id_for_label }}"
                              >{{ form.body.initial }}</textarea>
                </div>
                <div class="row">
                    <input type="text" name="tag_text" id="tag_text" placeholder="Tag">
                </div>
                {% for e in form.non_field_errors %}
                <p class="form-error">{{e}}</p>
                {% endfor %}
                <div class="row topmargin07">
                    <button class="button nomargin" type="submit">Post</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $( function() {
        $("#tag_text").autocomplete({
            source: '{% url 'autocomplete' %}',
      });
    } );

    $(document).ready(function() {

        var input = $("#{{ form.body.id_for_label }}");
        var len = input.val().length;
        input[0].focus();
        input[0].setSelectionRange(len, len);

    });
</script>

{% endblock content %}
