<!-- templates/topbar.html-->
{% load static %}
<div id="topbar">
    <div style="display: flex;">
        <img src="{% static 'logos/50x102.png'%}"
            style="cursor: pointer" onclick="home()"></img>
    </div>
    <div class="justified rightmost" style="display: flex">
    <input id="tagfilter" class="taginput" style="margin: 0;" type="text" placeholder="Tag filter">
    </div>
    <div id="taglist">
    </div>
    <div style="width:2em">
    <div id="cleartags"
         class="leftmost fineprint corner-widget"
         onclick="clear_tags()">Ø</div>
    </div>
    <a class="button justified rightmost" href="{% url 'logout' %}">Sign out</a>
</div>
